{% extends "base.html" %}


{#
120x90 (petitet)
<iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=30&p=20&l=ez&f=ifr&linkID=d44743a24267fc897fcb3e4520b4ddd0&t=movimientoani-21&tracking_id=movimientoani-21" width="120" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

468x60 (allargat petit)
<iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=30&p=13&l=ez&f=ifr&linkID=04d73a136e7250f8e4a58f9f1fc46738&t=movimientoani-21&tracking_id=movimientoani-21" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

728x90 allargat gros
<iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=30&p=48&l=ez&f=ifr&linkID=1ebcec36c11cbf08623436c283e2ec59&t=movimientoani-21&tracking_id=movimientoani-21" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

Lista de libros de fitness
<a target="_blank" href="https://www.amazon.es/gp/search?ie=UTF8&tag=movimientoani-21&linkCode=ur2&linkId=5dd585526a140be2a3a44cfa8459ba1a&camp=3638&creative=24630&index=books&keywords=Fitness, deporte">Libros de fitness</a><img src="//ir-es.amazon-adsystem.com/e/ir?t=movimientoani-21&l=ur2&o=30" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

Lista de material de fitness
https://www.amazon.es/b/ref=as_li_ss_tl?ie=UTF8&node=2928495031&linkCode=ll2&tag=movimientoani-21&linkId=f662817f86b59d3a24d097cdac52828e&language=es_ES


#}



{% block extrahead %}
  {{super()}}
  <meta name="yandex-verification" content="188fb3c6f1b37db8" />
  <meta name="msvalidate.01" content="39CD457F50BFFB380B0EB7C2DDA1B4DE" />
  
{# Video objects #}
{% if page and page.meta and page.meta.videos %}
{%for v in page.meta.videos%}
<script type="application/ld+json">
{
"@context": "http://schema.org/",
"@type": "VideoObject",
"name": "{{v.name}}",
"duration": "{{v.duration}}",
"uploadDate": "{{v.uploadDate}}",
"thumbnailUrl": "{{config.site_url}}img/posters/videos/{{v.name}}.png.jpg",
"description": "{{v.description}}",
"contentUrl": "{{config.site_url}}video/{{v.name}}.mp4",
"hasPart": [
{% for p in v.pasos %}{"@type": "Clip",
"name": "{{p[0]}}",
"startOffset": {{p[1]}},
"endOffset": {{p[2]}},
"url": "{{config.site_url}}video/{{v.name}}.mp4?t={{p[1]}}"
}{{ ", " if not loop.last }}{% endfor %}]}
</script>
{% endfor %}
{% endif %}
  


{% endblock %}

{% block fonts%}
<link rel="preload" href="/assets/stylesheets/regular.css"  as="style">
<link rel="stylesheet" href="/assets/stylesheets/regular.css">
<link rel="preload" href="{{ '/assets/stylesheets/main.css' | url }}" as="style"/>
<link rel="stylesheet" href="{{ '/assets/stylesheets/main.css' | url }}"/>
{% endblock %}


{% block styles %}
{% endblock %}


{% block config %}
  {{super()}}

  <link rel="prefetch" href="/assets/stylesheets/fonts.css"  as="style">
  <link rel="stylesheet" href="/assets/stylesheets/fonts.css">

  <link rel="stylesheet" href="/assets/stylesheets/bes.css">
  
  <!-- Extra color palette -->
  {% if config.theme.palette %}
    {% set palette = config.theme.palette %}
    <link
      rel="prefetch"
      href="{{ '/assets/stylesheets/palette.css' | url }}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/stylesheets/palette.css' | url }}"      
    />

    <!-- Theme-color meta tag for Android -->
    {% if palette.primary %}
      {% import "partials/palette.html" as map %}
      {% set primary = map.primary(
        palette.primary | replace(" ", "-") | lower
      ) %}
      <meta name="theme-color" content="{{ primary }}" />
    {% endif %}
  {% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K7W3E07EX2"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K7W3E07EX2'); //G-MLC6VTPBB0
</script>

{#<script data-ad-client="ca-pub-6929173861779019" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}


{% endblock %}