{% extends "base.html" %}


{#

<iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=30&p=20&l=ez&f=ifr&linkID=d44743a24267fc897fcb3e4520b4ddd0&t=movimientoani-21&tracking_id=movimientoani-21" width="120" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

#}



{% block extrahead %}
  {{super()}}
  <meta name="yandex-verification" content="9397c426330d20f9" />
  <meta name="msvalidate.01" content="39CD457F50BFFB380B0EB7C2DDA1B4DE" />
  <meta name="google-site-verification" content="2fl4TJXfAyOzo0TMPUaTixLIwA4TbVp8bzJzakGUFMw" />
{% endblock %}

{% block fonts%}
<link rel="preload" href="/assets/stylesheets/regular.css"  as="style">
<link rel="stylesheet" href="/assets/stylesheets/regular.css">
<link rel="preload" href="{{ '/assets/stylesheets/main.css' | url }}" as="style"/>
<link rel="stylesheet" href="{{ '/assets/stylesheets/main.css' | url }}"/>
{% endblock %}


{% block styles %}
{% endblock %}


{# % block styles % #}
{% block config %}
  {{super()}}

  <link rel="prefetch" href="/assets/stylesheets/fonts.css"  as="style">
  <link rel="stylesheet" href="/assets/stylesheets/fonts.css">

  <link rel="stylesheet" href="/assets/stylesheets/bes.css">
  
  <!-- Extra color palette -->
  {% if config.theme.palette %}
    {% set palette = config.theme.palette %}
    <link
      rel="prefetch"
      href="{{ '/assets/stylesheets/palette.css' | url }}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/stylesheets/palette.css' | url }}"      
    />

    <!-- Theme-color meta tag for Android -->
    {% if palette.primary %}
      {% import "partials/palette.html" as map %}
      {% set primary = map.primary(
        palette.primary | replace(" ", "-") | lower
      ) %}
      <meta name="theme-color" content="{{ primary }}" />
    {% endif %}
  {% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PNMJ7GN8FX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PNMJ7GN8FX');
</script>

{#<script data-ad-client="ca-pub-6929173861779019" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}


{% endblock %}