{% extends "base.html" %}

{% block extrahead %}
  {{super()}}
  <meta name="yandex-verification" content="9397c426330d20f9" />
  <meta name="msvalidate.01" content="39CD457F50BFFB380B0EB7C2DDA1B4DE" />
{% endblock %}

{% block fonts%}
<link rel="preload" href="/assets/stylesheets/regular.css"  as="style">
<link rel="stylesheet" href="/assets/stylesheets/regular.css">
<link rel="preload" href="{{ '/assets/stylesheets/main.css' | url }}" as="style"/>
<link rel="stylesheet" href="{{ '/assets/stylesheets/main.css' | url }}"/>
{% endblock %}


{% block styles %}
{% endblock %}


{# % block styles % #}
{% block config %}
  {{super()}}

  <link rel="prefetch" href="/assets/stylesheets/fonts.css"  as="style">
  <link rel="stylesheet" href="/assets/stylesheets/fonts.css">

  <link rel="stylesheet" href="/assets/stylesheets/bes.css">
  
  <!-- Extra color palette -->
  {% if config.theme.palette %}
    {% set palette = config.theme.palette %}
    <link
      rel="prefetch"
      href="{{ '/assets/stylesheets/palette.css' | url }}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/stylesheets/palette.css' | url }}"      
    />

    <!-- Theme-color meta tag for Android -->
    {% if palette.primary %}
      {% import "partials/palette.html" as map %}
      {% set primary = map.primary(
        palette.primary | replace(" ", "-") | lower
      ) %}
      <meta name="theme-color" content="{{ primary }}" />
    {% endif %}
  {% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PNMJ7GN8FX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PNMJ7GN8FX');
</script>


{% endblock %}