{% from 'macros.jinja' import render_video, render_cards %}

{# nombre de la pagina (mismo que nombre que video, poster, etc.) #}
{% set name = page.abs_url.split('/')[-2] %}

{% block descripcion %}
{% if page and page.meta and page.meta.descripcion %}
## Descripción
{{page.meta.descripcion}}
{% endif %}
{% endblock %}

{% block denominaciones %}
{% if page.meta.denominaciones %}
## Otras denominaciones
{{page.meta.denominaciones}}
{% endif %}
{% endblock %}

{% block calentamiento %}
{% if page.meta.calentamiento %}
## Calentamiento
{{page.meta.calentamiento}}
{% endif %}
{% endblock %}

{% block prerequisitos %}
{% if page.meta.prerequisitos %}
## Prerequisitos
{{page.meta.prerequisitos}}
{% endif %}
{% endblock %}

{% block pasos %}
{% if page.meta.pasos %}
## Pasos
<ol>
{% for p in page.meta.pasos %}
    <li>{{p|safe}}</li>
{% endfor %}
</ol>
{% endif %}
{% endblock %}

{% block pasos_videos %}

{% if page.meta.videos %}
## Pasos
{%for v in page.meta.videos%}
<ol>
{% for p in v.pasos %}
    <li>{{p[0]|safe}} <a onclick="document.getElementById('video-{{v.name}}').currentTime={{p[1]}}">({{p[1]}}s)</a></li>
{% endfor %}
</ol>
{% endfor %}
{% endif %}

{% endblock %}



{% block videos %}
{% if not page.meta.is_index %}
## Videos
{{render_video(page.abs_url.split('/')[-2])}}
{% endif %}
{% endblock %}

{% block fuentes %}
{% if page.meta.fuentes %}
## Fuentes
<p>
    {% for f in page.meta.fuentes%}
        {% if f=="propia"%}
            <a href="{{config.site_url}}">Producción propia</a>.
        {%else%}
            <a href="/varios/fuentes/#{{f}}">{{f}}</a>{% if not loop.last%}, {%else%}.{% endif %}
        {%endif%}
    {%endfor%}
</p>
{% endif %}
{% endblock %}

{% block indice %}
{% if page.meta.is_index %}
{{render_cards(page.parent.children, page.url)}}
{% endif %}
{% endblock %}

