{% from 'macros.jinja' import render_video, render_cards %}

{# nombre de la pagina (mismo que nombre que video, poster, etc.) #}
{% set name = page.abs_url.split('/')[-2] %}

{% block descripcion %}
{% if page and page.meta and page.meta.descripcion %}
{% if is_index and not is_index==1 %}
## Descripción
{% endif %}
{{page.meta.descripcion}}
{% endif %}
{% endblock %}

{% block denominaciones %}
{% if page.meta.denominaciones %}
## Otras denominaciones
{{page.meta.denominaciones}}
{% endif %}
{% endblock %}

{% block calentamiento %}
{% if page.meta.calentamiento %}
## Calentamiento
{{page.meta.calentamiento}}
{% endif %}
{% endblock %}

{% block prerequisitos %}
{% if page.meta.prerequisitos %}
## Prerequisitos
{{page.meta.prerequisitos}}
{% endif %}
{% endblock %}

{% block pasos %}
{% if page.meta.pasos %}
## Pasos
<ol>
{% for p in page.meta.pasos %}
    <li>{{p|safe}}</li>
{% endfor %}
</ol>
{% endif %}
{% endblock %}



{% if page.meta.videos %}
{%for v in page.meta.videos%}
{%if page.meta.videos|length>1%}## {{v.description}}{% endif %}
### Pasos
<ol>
{% for p in v.pasos %}
    <li>{{p[0]|safe}} 
        {%if p[1]%}
            <a onclick="document.getElementById('video-{{v.name}}').currentTime={{p[1]}}">({{p[1]}}s)</a>
        {%endif%}
    </li>
{% endfor %}
</ol>

### Video
{{render_video(v.name)}}
{%endfor%}
{%endif%}

{% block fuentes %}
{% if page.meta.fuentes %}
## Fuentes
<p>
    {% for f in page.meta.fuentes%}
        {% if f=="propia"%}
            <a href="{{config.site_url}}">Producción propia</a>.
        {%else%}
            <a href="/varios/fuentes/#{{f}}">{{f}}</a>{% if not loop.last%}, {%else%}.{% endif %}
        {%endif%}
    {%endfor%}
</p>
{% endif %}
{% endblock %}

{% block indice %}
{% if page.meta.is_index %}
{{render_cards(page.parent.children, page.url)}}
{% endif %}
{% endblock %}

